.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  widows: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-right: 50;
}

.homelinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: yellow;
}

.defaultHero,
.flightsHero,
.hotelsHero {
  min-height: calc(100vh-66px);
  background: url("./images/beach.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotelsHero {
  background: url("./images/hotels.jpg") center / cover no-repeat;
  min-height: 80vh;
}

.flightsHero {
  background: url("./images/airport.jpg") center / cover no-repeat;
  min-height: 80vh;
}
